@charset 'utf-8';

body {
    background-color: #fff;
    color: #222328;
    margin: 0;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #222328;
}

.container {
    width: 1200px;
    margin: auto;
}

header {
    height: 100px;
    position: relative;
    z-index: 10;
}
header > div {
    height: 100px;
}
.header-logo {
    width: 200px;
    float: left;
}
.header-logo img {
    padding-top: 30px;
}
.navi {
    width: 600px;
    float: right;
    padding-right: 20px;
}

.slide {}
.slide > div {
    height: 300px;
}

.items {
    overflow: hidden;
}
.items > div {
    width: 400px;
    height: 200px;
    float: left;
    box-sizing: border-box;
    padding-top: 5px;
}
.news {
}
.banner {
    text-align: center;
}
.banner img {
    width: 95%;
}

.shortcut {}
.shortcut img {
    width: 95%;
    float: right;
}

footer {
    overflow: hidden;
}
footer > div {
    height: 100px;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
.footer-logo {
    width: 200px;
    padding-top: 30px;
}
.copyright {
    width: 800px;
    padding-top: 30px;
}
.sns {
    width: 200px;
    padding-top: 20px;
}

/* Tab & Gallery */

.tab-inner {
    width: 98%;
}
.tab-inner .btn {}
.tab-inner .btn a {
    border: 1px solid #000;
    display: inline-block;
    width: 100px;
    padding: 5px;
    text-align: center;
    margin-right: -6px;
    background-color: #ddd;
    border-bottom: none;
    margin-bottom: -2px;
}    
.tab-inner .btn a.active {
    background-color: #fff;
}
.tabs {}
.tab1 {
    border: 1px solid #000;
    height: 150px;
    padding: 2px 5px;
}
.tab1 a {
    display: block;
    border-bottom: 1px solid #000;
    font-size: 13px;
    padding: 5px;
}
.tab1 a:last-child {
    border-bottom: none;
}
.tab1 a b {
    float: right;
}

.tab2 {
    border: 1px solid #000;
    height: 155px;
    text-align: center;
    display: none;
}
.tab2 img {
    padding-top: 20px;
}

/* Slide */

.slide {
    position: relative;
    width: 1200px;
    height: 300px;
    overflow: hidden;
}
.slide div {
    position: absolute;
    font-size: 0;
    left: 0;
    top: 0;
    animation: slide 10s 0s linear infinite;
}

@keyframes slide {
    0% {top: 0;}
    30% {top: 0;}
    35% {top: -300px;}
    65% {top: -300px;}
    70% {top: -600px;}
    95% {top: -600px;}
    100% {top: 0;}
}

/* Menu */
.menu {
    list-style: none;
    padding: 0;
    text-align: center;
    padding-top: 20px;
}
.menu li {
    background-color: #fff;
    width: 25%;
    float: left;
}
.menu li > a{
    border: 1px solid #000;
    display: block;
    transition: 0.5s;
    padding: 5px;
}
.menu li:hover > a {
    background-color: #000;
    color: #fff;
}
.menu li:first-child .sub-menu {
    border-left: 1px solid #000;
}
.menu li:last-child .sub-menu {
    border-right: 1px solid #000;
}
.sub-menu {
    border-bottom: 1px solid #000;
    display: none;
}
.sub-menu a {
    display: block;
    transition: 0.5s;
    padding: 5px;
}
.sub-menu a:hover {
    background-color: #000;
    color: #fff;
}

/* Modal */
.modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.62);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}
.modal-content {
    position: absolute;
    background-color: #fff;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
}
.close-modal {
    float: right;
    border: 1px solid #000;
    padding: 5px 10px;
}